/*
 * Copyright (c) 2017-2019, STMicroelectronics - All Rights Reserved
 *
 * SPDX-License-Identifier:	GPL-2.0+	BSD-3-Clause
 */

#include <dt-bindings/soc/st,stm32-etzpc.h>

/ {
	soc {
		iwdg1: watchdog@5c003000 {
			compatible = "st,stm32mp1-iwdg";
			reg = <0x5C003000 0x400>;
			clocks = <&rcc IWDG1>, <&rcc CK_LSI>;
			clock-names = "pclk", "lsi";
			interrupts = <GIC_SPI 150 IRQ_TYPE_LEVEL_HIGH>;
			status = "disabled";
			secure-status = "disabled";
		};

		etzpc: etzpc@5c007000 {
			compatible = "st,stm32-etzpc";
			reg = <0x5C007000 0x400>;
			clocks = <&rcc TZPC>;
			status = "disabled";
			secure-status = "okay";
		};

		stgen: stgen@5c008000 {
			compatible = "st,stm32-stgen";
			reg = <0x5C008000 0x1000>;
		};

		nvmem_layout: nvmem_layout@0 {
			compatible = "st,stm32-nvmem-layout";

			nvmem-cells = <&part_number_otp>,
				      <&monotonic_otp>,
				      <&nand_otp>,
				      <&uid_otp>,
				      <&package_otp>,
				      <&hw2_otp>;

			nvmem-cell-names = "part_number_otp",
					   "monotonic_otp",
					   "nand_otp",
					   "uid_otp",
					   "package_otp",
					   "hw2_otp";
		};
	};
};

&bsec {
	part_number_otp: part_number_otp@4 {
		reg = <0x4 0x1>;
	};
	monotonic_otp: monotonic_otp@10 {
		reg = <0x10 0x4>;
	};
	nand_otp: nand_otp@24 {
		reg = <0x24 0x4>;
	};
	uid_otp: uid_otp@34 {
		reg = <0x34 0xc>;
	};
	package_otp: package_otp@40 {
		reg = <0x40 0x4>;
	};
	hw2_otp: hw2_otp@48 {
		reg = <0x48 0x4>;
	};
	mac_addr: mac_addr@e4 {
		reg = <0xe4 0x8>;
		st,non-secure-otp;
	};
};

&iwdg2 {
	secure-interrupts = <GIC_SPI 151 IRQ_TYPE_LEVEL_HIGH>;
};

&rcc {
	secure-interrupts = <GIC_SPI 145 IRQ_TYPE_LEVEL_HIGH>;
	interrupt-names = "wakeup";
};

&sdmmc1 {
	compatible = "st,stm32-sdmmc2";
};

&sdmmc2 {
	compatible = "st,stm32-sdmmc2";
};

&tamp {
	compatible = "st,stm32-tamp";
	clocks = <&rcc RTCAPB>;
	interrupts = <GIC_SPI 197 IRQ_TYPE_LEVEL_HIGH>;
	secure-status= "disabled";
};
